<div class="center jumbotron">
  <h1><%= get_random_message %></h1>
  <h2><%= get_time_message %></h2>

  <h2><%= get_season() %></h2>

  <%= link_to signup_path, class: "btn-custom btn-outline btn-outline-hover rounded btn-custom-blue btn-custom-lg" do %>
	Sign up now! <i class="fa fa-user"></i>
  <% end %>

</div>